SM.Ecommerce/SM.Ecommerce.Tests/obj/
SM.Ecommerce/SM.Ecommerce.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
SM.Ecommerce/SM.Ecommerce.Tests/bin/
SM.Ecommerce/SM.Ecommerce.Shared/obj/
SM.Ecommerce/SM.Ecommerce.Api.Search/obj/
SM.Ecommerce/SM.Ecommerce.Api.Search/bin/
SM.Ecommerce/SM.Ecommerce.Api.Products/obj/
SM.Ecommerce/SM.Ecommerce.Api.Products/bin/
SM.Ecommerce/SM.Ecommerce.Api.Orders/obj/
SM.Ecommerce/SM.Ecommerce.Api.Orders/bin/
SM.Ecommerce/SM.Ecommerce.Api.Customers/obj/
SM.Ecommerce/SM.Ecommerce.Api.Customers/bin/
